html,body{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400,400i,500,500i,700,700i,900');

.kai-slide{
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 350px;
	z-index: 9999;
}

.slides{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/*.slide-bady .dots{
	font-size: 0;
	list-style-type: none;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	text-align: center;
	z-index: 100;
	z-index: 100000;
}

.slide-bady .dots li {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid #000;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	cursor: default;
	margin: 0 5px;
	z-index: 100000;
}

.slide-bady .dots .active{
	background-color: #ccc;
}*/

/*.slider-wrapp .dots li:hover{
	background-color: #ccc;
}*/

.slides .slide{
	display: block;
	font-size: 16px;
	width: 100%;
	height: 100%;
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	transform: translateX(100%);
}

.slides .active{
	transform: translateX(0%);
}

.slide:before{
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.35);
	position: absolute;
	right: 0;
}

.slides img{
	max-width: 100%;
	display: block;
	height: auto;
	position: relative;
}

.slides .kai-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: #fff;
	width: 90%;
/*	height: 50%;*/
	text-align: center;
	z-index: 100;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	justify-content: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: center;
	-ms-flex-pack: justify;
	align-items: center
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}

.slides .kai-content .wr{
	line-height: 1;
	overflow: hidden;

	flex: 0 0 auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
}

.animation .line,
.animation .line_block{
	width: 1px;
	height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	animation-duration: 2000ms;
	animation-name: lineDown;
	animation-fill-mode: forwards;
	animation-delay: 500ms;
}

.animation .line{
	background-color: rgb(138, 204, 255);
}

@-webkit-keyframes lineDown {
	0% { height: 0; transition: 0.3s ease-in-out; }
	100% { height: 23%; transition: 0.3s ease-in-out; }
}

@keyframes lineDown {
	0% { height: 0; transition: 0.3s ease-in-out; }
	100% { height: 23%; transition: 0.3s ease-in-out; }
}

.slide .kai-content .kai-title{
	font-size: 43px;
}

.slide .kai-content .kai-text,
.slide .kai-content .kai-title{
	display: block;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    text-transform: capitalize;
	color: rgb(138, 204, 255);
	text-align: center;
	letter-spacing: 0px;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0px;
	white-space: normal;
	opacity: 1;
	transform-origin: 50% 50% 0px;
	position: relative;
	z-index: 10;

	flex: 0 0 auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
}

.slide .kai-content .kai-text:first-child{
	text-transform: lowercase;
}

.slide .kai-content .kai-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 63px;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	white-space: nowrap;
}

.slide .kai-content .btn-kai{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
	line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
	padding: 15px 50px;
	margin: 1em auto;
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.25);
	box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 1;
	transform-origin: 50% 50% 0px;
	position: relative;
	z-index: 100;
}

.slide .kai-content .btn-kai:hover,
.slide .kai-content .btn-kai:active{
	border-color: rgba(255, 255, 255, 0.95);
}

.slide.animation .kai-content .animation{
	animation-duration: 3000ms;
	animation-name: inUp;
	animation-fill-mode: forwards;
	animation-delay: 100ms;
	transition-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes inUp {
	0% { opacity: 0.2; transform: translateY(+100%); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes inUp {
	0% { opacity: 0.2; transform: translateY(+100%); }
	100% { opacity: 1; transform: translateY(0); }
}

.slide.no_animation .kai-content .animation{
	animation-duration: 2000ms;
	animation-name: inDown;
	animation-fill-mode: forwards;
	animation-delay: 100ms;
	transition-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes inDown {
	0% { opacity: 1; transform: translateY(0); }
	100% { opacity: 0.2; transform: translateY(+100%); }
}

@keyframes inDown {
	0% { opacity: 1; transform: translateY(0); }
	100% { opacity: 0.2; transform: translateY(+100%); }
}

.kai-slide .prev,
.kai-slide .next{
	display: block;
	width: 50px;
	height: 50px;
	background-color: transparent;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	z-index: 100;
/*	-webkit-transform: translateY(50%);
	transform: translateY(50%);*/
}

.kai-slide .next{
	right: 0;
}

.kai-slide .prev{
	left: 0;
}

.kai-slide .prev:before,
.kai-slide .next:before{
	font-family: 'Font Awesome 5 Free';
	font-size: 52px;
	font-weight: bold;
	color: #eee;
	opacity: 0.8;
	line-height: 50px;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.kai-slide .prev:before{
	content: '\f053';
}
.kai-slide .next:before{
	content: '\f054';
}
.kai-slide .prev:hover:before,
.kai-slide .prev:active:before,
.kai-slide .next:hover:before,
.kai-slide .next:active:before{
	opacity: 1;
}